@font-face {
    font-family: 'GrandHotel';
    src: url('fonts/GrandHotel-Regular.eot');
    src: url('fonts/GrandHotel-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/GrandHotel-Regular.woff2') format('woff2'),
        url('fonts/GrandHotel-Regular.woff') format('woff'),
        url('fonts/GrandHotel-Regular.ttf') format('truetype'),
        url('fonts/GrandHotel-Regular.svg#GrandHotel-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.main-header {
    background: url(images/body-1.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 1000px;
    padding-top: 65px;
}

.width-set {
    width: 1600px;
    margin: 0 auto;
}

.nav-logo {
    text-align: center;
}

ul.menu-item a {
    text-decoration: none;
    color: #fff;
    font-size: 23px;
}

ul.menu-item {
    padding: 0;
    list-style: none;
    text-align: center;
    padding-top: 40px;
}

ul.menu-item li {
    display: inline-block;
    padding-left: 40px;
}

.content-1 {
    text-align: center;
    padding-top: 125px;
}

.title-1 h2 {
    color: #fff;
    font-size: 250px;
    font-family: 'GrandHotel';
}

.paragraph-1 p {
    color: #fff;
    font-size: 23px;
    width: 36%;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 30px;
}

.btn-1 button {
    background-color: #fff;
    color: #e8565e;
    border: none;
    padding: 10px;
    width: 17%;
    border-radius: 20px;
    font-weight: bold;
}

.main-content-2 {
    background: url(images/body-2.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 1100px;
    padding-top: 100px;
}

.top-2,
.top-3,
.top-4,
.top-6 {
    text-align: center;
}

.title-2 h2 {
    font-size: 150px;
    color: #e8565e;
    font-family: 'GrandHotel';
}

.paragraph-2 p {
    font-size: 23px;
    width: 42%;
    text-align: center;
    margin: 0 auto;
    padding-top: 20px;
}

.grid-template-2 {
    display: grid;
    grid-template-columns: auto auto auto;
    text-align: center;
    padding-top: 80px;
}

.desc-title {
    padding-top: 10px;
}

.desc-title h2 {
    color: #e8565e;
    font-size: 65px;
    font-family: 'GrandHotel';
}

.desc-paraggraph p {
    font-size: 20px;
    width: 67%;
    margin: 0 auto;
}

.main-content-3 {
    background: url(images/body-3.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 900px;
    padding-top: 100px;
}

.title-3 h2 {
    color: #fff;
    font-size: 100px;
    font-family: 'GrandHotel';
}

.paragraph-3 p {
    color: #fff;
    font-size: 25px;
    font-weight: lighter;
    width: 44%;
    margin: 0 auto;
}

.grid-template-3 {
    display: grid;
    grid-template-columns: auto auto auto;
    text-align: center;
    padding-top: 85px;
}

.main-content-4 {
    background-color: #eee6cc;
    padding-top: 80px;
    padding-bottom: 100px;
}

.title-4 h2 {
    font-size: 100px;
    color: #eb4d55;
    font-family: 'GrandHotel';
}

.paragraph-4 p {
    font-size: 23px;
    width: 36%;
    margin: 0 auto;
}

.bootom-4 {
    padding-top: 60px;
}

.icon-title-1 {
    display: inline-block;
    width: 79%;
    vertical-align: middle;
}

.icon-4-1 {
    display: inline-block;
    width: 18%;
}

.icon-title-1 h2 {
    font-size: 50px;
    color: #eb4d55;
    font-family: 'GrandHotel';
}

.ixon-paragraph-1 p {
    margin: 0;
    font-size: 20px;
    width: 75%;
}

.row.cus-4 {
    padding-top: 80px;
}

.main-content-5 {
    background: #faf5e4 url(images/body-5.png);
    background-position: unset;
    background-repeat: no-repeat;
    background-size: unset;
    height: 800px;
    padding-top: 250px;
}

.title-5 h2 {
    color: #eb4d55;
    font-size: 100px;
    font-family: 'GrandHotel';
}

.paragraph-5 p {
    font-size: 25px;
    width: 77%;
    padding-bottom: 20px;
}

.btn-5 button {
    color: #fff;
    background-color: #eb4d55;
    border: none;
    padding: 15px;
    border-radius: 30px;
    width: 30%;
}

.main-content-6 {
    background-color: #eee6cc;
    padding-top: 80px;
    padding-bottom: 50px;
}

.paragraph-6 p {
    font-size: 23px;
    width: 42%;
    margin: 0 auto;
    padding-top: 15px;
}

.grid-template-6 {
    display: grid;
    grid-template-columns: auto auto auto;
    text-align: center;
    padding-top: 50px;
    column-gap: 35px;
}

.post-6-1 {
    background-color: #faf5e4;
    border-radius: 20px;
    padding-bottom: 30px;
}

.image-6-1 {
    padding-top: 30px;
}

.title-6-1 h2 {
    font-size: 45px;
    color: #eb4d55;
    padding-top: 35px;
    font-family: 'GrandHotel';
}

.paragraph-6-1 p {
    font-size: 20px;
    width: 60%;
    margin: 0 auto;
    padding-bottom: 25px;
}

.main-content-7 {
    background: url(images/body-7.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 850px;
    padding-top: 100px;
}

.content-7 {
    text-align: center;
}

.paragraph-7 p {
    font-size: 23px;
    padding-top: 30px;
    font-weight: bold;
    width: 41%;
    margin: 0 auto;
}

.bottom-7 h2 {
    padding-top: 40px;
    font-size: 65px;
    color: #eb4d55;
    font-family: 'GrandHotel';
}

.main-content-8 {
    background-color: #faf5e4;
    padding-top: 50px;
    padding-bottom: 80px;
}

.content-8 {
    text-align: center;
}

.title-8 h2 {
    color: #eb4d55;
    font-size: 100px;
    font-family: 'GrandHotel';
    margin: 0;
}

.paragraph-8 p {
    font-size: 23px;
    width: 60%;
    margin: 0 auto;
}

.form-8 {
    padding-top: 50px;
}

.input-email,
.btn-8 {
    display: inline-block;
}

.input-email input {
    border: none;
    padding: 13px;
    width: 450px;
    border-radius: 20px;
}

.btn-8 button {
    border: none;
    background-color: #eb4d55;
    color: #fff;
    padding: 12px;
    border-radius: 20px;
    width: 135px;
    margin-left: -45px;
}

.main-footer {
    background-color: #2a2a2a;
    padding-top: 80px;
    padding-bottom: 80px;
}

.footer-title h2 {
    color: #fff;
    font-size: 60px;
    font-family: 'GrandHotel';
}

.footer-paragraph p {
    color: #fff;
    font-size: 23px;
    width: 70%;
}

.title-f-2 h2 {
    color: #fff;
    font-size: 50px;
    font-family: 'GrandHotel';
}

ul.list {
    padding: 0;
    list-style: none;
}

ul.list a {
    color: #fff;
    text-decoration: none;
    font-size: 23px;
}

ul.list li {
    padding-top: 10px;
}

li.sub-icon {
    display: inline-block;
    padding-left: 15px;
}

li.main-icon,
.main-icon-2,
.main-icon-3,
.main-icon-4 {
    display: inline-block;
}